<!DOCTYPE html>
<html>
  <head>
    <title>FileValet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <%= javascript_pack_tag 'application' %>
    <% if content_for? :head %>
      <%= yield :head %>
    <% end %>
  </head>

  <body>
  <!-- Vue app  -->
  <section id="main" class="section" data-behavior="vue">
    <app title="Welcome to FileValet">
      <%= yield %>
    </app>
  </section>
  </body>
</html>